.vs/
bin/
obj/
*.user
*.suo
Thumbs.db
.DS_Store
tools/pairwise/bin/pict.exe
**/TestResults/
tools/coverage/
**/StrykerOutput/
tools/postman/after_run_environment.json
tools/coverage/
coverage-report/
tools/coverage-core/
tools/coverage-full/
TestResults/
/artifacts/
/coverage*/