name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:

jobs:
  build-test-coverage-newman-k6:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET (from global.json)
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: global.json

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

      - name: Test + Collect Coverage (XPlat)
        run: |
          dotnet test -c Release --no-build \
            --collect:"XPlat Code Coverage" \
            --settings coverlet.runsettings \
